*{
    box-sizing: border-box;
    text-decoration: none;}
body{
    margin: 0;
    padding: 0;
    color:rgb(21, 26, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    border-radius: 3%;
    margin-top: 30px;
    width: 40%;
    padding : 6% 5% 3%;
    box-shadow: 4px 4px 8px 3px rgba(22, 37, 49, 0.46);
}
form{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}

input{
    height: 35px;
    margin-top: 20px;
}
.btn_sub{
    margin: 60px 30% 0;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}
.btn_sub:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.btn_sub:active {
	position:relative;
	top:1px;
}
p{margin-bottom: 0;}



@media  only screen and (max-width: 600px) {
    .login{
        width: 80%;
    }
  }